body {
    line-height: 1.2rem !important;
    background: #2E2545 !important; 
    width: 100%;
}

a {
    margin-bottom: 0px !important;
}
.topnav {
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: #292141;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background: #1C162C;
    overflow-x: hidden;
}

.sidebar-container {
    position: relative;
    margin-top: 40%;
}

.sidebar a:hover {
    color: rgb(113, 121, 238);
    text-decoration: none;
}

.panel {
    margin-left: 280px;
    margin-top: 90px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.logo {
    width: 65px;
    height: 65px;
    margin-left: 60px;
    margin-top: 15px;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 30px;
    margin-top: 35px;
    font-size: clamp(12px, 5vw, 25px);
}

.choices {
    width: 280px;
    height: 52px;
    position: relative;
    left: 0;
    padding-top: 10px;
    margin-top: 10px;
}

.choices:not(:nth-child(1)) {
    width: 280px;
    height: 75px;
    position: relative;
    left: 0;
    padding-top: 10px;
    margin-top: 10px;
}

.choice {
    position: absolute;
    font-family: Poppins;
    color: white;
    font-size: 1.5rem;
}

.logout-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

.btn-logout {
    color: #fff !important;
    background-color: #981be0 !important;
    border-radius: 7px !important;
    padding: .15rem 1rem !important;
}

.text_choice {
    display: inline-block;
    margin-left: 85px;
    color: white;
    margin-top: .6rem;
    font-size: 1.3rem;
}

.selected {
    position: relative;
    background: #3C3258;
    height: 62px;
}

.selected::after {
    content: "";
    top: 0;
    left: 0;
    width: 8px;
    position: absolute;
    background: #981be0;
    height: 100%;
}

.ml-span {
    margin-left: 5.2rem;
}


.chartitle {
    color: white;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.table {
    background: #1C162C;
}

.card{
    background: #1C162C !important;
    border-radius: 8px;
    padding: 1.6rem;
}

.patronbtn {
    
    color: #fff !important;
    background-color: #981be0 !important;
    border-radius: 7px !important;
}

.bookbtn {
    margin-left: 65px;
    color: #fff !important;
    background-color: #981be0 !important;
    border-radius: 7px !important;
}

.radius {
    border-radius: 5px;
}

.searchbar-container {
    position: absolute;
    right: 5%;
}

.search {
    background: white;
    position: relative;
    display: inline-block;
    padding: .4rem .5rem;
    border-radius: 5px !important;
}

input:focus {
    outline: none;
    border: 0;
}

input {
    padding-left: 6px;
}

.btn-primary {
    background-color: #981be0 !important;
    border-color: #981be0 !important;
}

@media (max-width: 865px){
    .text_choice {
        display: none;
    }

    .sidebar {
        width: 90px;
    }

    .sidebar-container{
        margin-top: 120px;
    }

    .panel {
        margin-left: 100px;
    }

    .searchbar-container {
        right: 7%;
    }
    
}

@media (max-width: 1000) {
    .searchbar-container {
        right: 8%;
    }
}