<template>
  <div id="app">
    <div class="panel">
      <div class="container">
        <div class="row pt-5">
          <b-button
            data-toggle="modal"
            data-target="#addModal"
            class="btn patronbtn ml-3"
            v-b-modal.addModal
            > Add Book</b-button
          >
          <div class="searchbar-container">
            <div class="d-flex bg-white radius align-items-center">
              <img
                src="@/assets/images/Fig Search.png"
                height="18"
                class="position-absolute ml-2"
              />
              <input
                type="text"
                class="custom-form border-0 search ml-4"
                id="search"
                placeholder="Search"
              />
            </div>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table text-white">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies Available</th>
                      <th scope="col">Category</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(b, i) in books" :key="i">
                      <td>{{ b.name }}</td>
                      <td>{{ b.author }}</td>
                      <td>{{ b.copies }}</td>
                      <td>{{ b.category.category }}</td>
                      <td>
                          <a type="button" v-on:click="$bvModal.show('updateModal'); id = i; data = {...b}">
                          <img src="@/assets/images/Fig Edit.png" class="mr-2" height="20" />
                        </a>
                        <a type="button" @click.prevent="$bvModal.show('deleteModal'); id = b.id;">
                          <img src="@/assets/images/Fig Del.png" class="mr-2" height="20"/>
                        </a>
                       <a type="button" v-on:click="book_data.book_id = b.id; id = i; $bvModal.show('borrowModal'); ">
                          <img src="@/assets/images/borrow.png" class="cursor-pointer mr-2" height="20"/>
                        </a>
                        <a type="button" v-on:click="book_data.book_id = b.id; id = i; $bvModal.show('returnModal'); ">
                          <img src="@/assets/images/return.png" class="cursor-pointer" height="20"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Book">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label">Full Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.name" class="form-control" id="fullname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label">Author</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.author" class="form-control" id="author" />
            </div>
          </div>
          <div class="form-group row">
            <label for="copies" class="col-sm-4 col-form-label">Copies</label>
            <div class="col-sm-8">
              <input type="number" v-model="data.copies" class="form-control" id="copies" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <select id="customSelect" v-model="data.category_id" name="cars" class="custom-select">
                <option selected disabled>Please select a category</option>
                <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="confirmSave">
          Add Book
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()">
          Cancel
        </b-button>
      </template>
    </b-modal>

    <b-modal id="updateModal" centered title="Update Book">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="fullname" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.name" class="form-control" id="fullname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label">Author</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.author" class="form-control" id="middlename" />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label">Copies</label>
            <div class="col-sm-8">
              <input
                type="number"
                v-model="data.copies"
                class="form-control"
                id="lastname"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <select id="customSelect" v-model="data.category_id" name="cars" class="custom-select">
                <option selected disabled>Please select a category</option>
                <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer= "{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="confirmUpdate">
          Update Book
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()">
          Cancel
        </b-button>
      </template>
    </b-modal>

    <b-modal id="borrowModal" centered title="Borrow Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click="borrowBook">
          Borrow Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="returnModal" centered title="Return Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click="returnBook">
          Return Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this book?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" @click="confirmDelete"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
import {toast} from '@/assets/js/toast'
export default {
  mixins: [toast],
  data() {
    return {
      id: '',
      data: {
        name: '', author: '', copies: '', category_id: ''
      },
      modalId: '',
      book_data: { book_id: '', copies: '', patron_id: ''}
    }
  },
  mounted() {
    document.title = "Book Management";
    this.getBooks();
    this.getCategories();
    this.getPatrons();
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
      this.clearData();
    })
    this.$root.$on('bv::modal::hide', () => {
      this.clearData();
    })
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions("books", ["getBooks", "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["storeBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),
    async borrowBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.storeBorrowed({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.SuccessToast('Book borrowed successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async returnBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.SuccessToast('Book returned successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async confirmSave(){
      const res = await this.storeBook({...this.data})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.SuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      } 
    },
    async confirmDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async confirmUpdate(){
      const res = await this.updateBook({index: this.id, data: this.data})
      if(res.status == 200){
        this.SuccessToast('Book updated successfully!')
        this.$bvModal.hide('updateModal')
      }
      else{
        this.showError(res.data)
      }
    },
    clearData(){
      this.data = { name: '', author: '', copies: '', category_id: ''}
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.ErrorToast(data[key][0])
      }
    }
  },
  watch: {
  }
}
</script>
