<template>
  <div id="app">
    <SideBar/>
    <NavBar />
    <router-view/>
  </div>
</template>

<script>
import SideBar from "@/components/navigation/sidebar";
import NavBar from "@/components/navigation/topnav";

export default {  
  components: { SideBar, NavBar },
}
</script>

<style>

</style>
