<template>
  <div id="app">
    <div class="panel">
      <div class="container">
        <div class="row pt-5">
          <button
            data-toggle="modal"
            data-target="#addModal"
            class="btn patronbtn ml-3"
            v-on:click="$bvModal.show('addModal')"
          >
            Add Patron
          </button>
          <div class="searchbar-container">
            <div class="d-flex bg-white radius align-items-center">
              <img
                src="@/assets/images/Fig Search.png"
                height="18"
                class="position-absolute ml-2"
              />
              <input
                type="text"
                class="custom-form border-0 search ml-4"
                id="search"
                placeholder="Search"
              />
            </div>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table text-white">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Date Registered</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(p, i) in patrons" :key="i">
                      <td>{{ p.first_name + " " + p.middle_name + " " + p.last_name }}</td>
                      <td>{{ p.email }}</td>
                      <td>{{ p.created_at }}</td>
                      <td>
                        <a type="button" v-on:click="index = i; data = {...p}; $bvModal.show('updateModal')">
                        <img
                          src="@/assets/images/Fig Edit.png"
                          class="mr-2"
                          height="20" />
                        </a>
                        <a type="button" v-on:click="index = p.id; $bvModal.show('deleteModal')">
                          <img
                            src="@/assets/images/Fig Del.png"
                            class="mr-2"
                            height="20"
                        /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Patron">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="firstname" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.first_name" class="form-control" id="firstname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="middlename" class="col-sm-4 col-form-label">Middle Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.middle_name" class="form-control" id="middlename" />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.last_name" class="form-control" id="lastname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.email" class="form-control" id="email" />
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="savePatron">
          Add Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()"> Cancel </b-button>
      </template>
    </b-modal>

    <b-modal id="updateModal" centered title="Update Patron">
      <form class="row justify-content-center align-items-center">
        <div class="col-10">
          <div class="form-group row">
            <label for="firstname" class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.first_name" class="form-control" id="firstname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="middlename" class="col-sm-4 col-form-label">Middle Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.middle_name" class="form-control" id="middlename" />
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.last_name" class="form-control" id="lastname" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" v-model="data.email" class="form-control" id="email" />
            </div>
          </div>
        </div>
      </form>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="primary" @click.prevent="confirmUpdate">
          Update Patron
        </b-button>
        <b-button size="sm" variant="secondary" @click="cancel()"> Cancel </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this patron?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" v-on:click="patronDelete"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import {toast} from '@/assets/js/toast'
export default {
  mixins: [toast],
  mounted() {
    document.title = "Patron Management";
    this.$root.$on('bv::modal::hide', () => {
      this.clearFields();
    })
    this.getPatrons();
    this.getPatronData();
  },
  computed: {
    ...mapState('patrons', ['patrons'])
  },
  data() {
    return {
      data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      index: "",
    };
  },
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    async savePatron() {
      const res = await this.storePatron(this.data)
      if(res.status == 200){
        this.$bvModal.hide('addModal');
        this.SuccessToast('Patron saved successfully!')
      }
      else {
        this.showError(res.data)
      }
    },
    async patronDelete() {
      const res = await this.deletePatron(this.index)
      if(res.status == 200){
        this.$bvModal.hide('deleteModal')
      }
      else {
        this.showError(res.data)
      }
    },
    async confirmUpdate(){
      const res = await this.updatePatron({data: {...this.data}, index: this.index})
      if(res.status == 200){
        this.$bvModal.hide('updateModal')
         this.SuccessToast('Patron updated successfully!')
      }
      else {
        this.showError(res.data)
      }
    },
    clearFields() {
      this.data.first_name = "";
      this.data.middle_name = "";
      this.data.last_name = "";
      this.data.email = "";
    },
    showError(data){
      for (const key of Object.keys(data.errors)) {
        this.ErrorToast(data.errors[key][0]); 
      }
    }
    
  },
};
</script>