<template>
  <div id="app">
    <div class="panel">
      <div class="container">
        <div class="row justify-content-center pt-5">
          <div class="col-6 col-sm-10 col-lg-6 pb-3">
            <h6 class="chartitle">Borrowed and Returned Books</h6>
            <barchart /> 
          </div>
          <div class="col-5 col-sm-10 col-lg-6 pb-3">
            <h6 class="chartitle">Popular Book Genre</h6>
            <piechart />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import barchart from '@/assets/chart/barchart'
import piechart from '@/assets/chart/piechart'
export default {
  name: "App",
  components: { barchart, piechart },
  mounted: function () {
    document.title = "Dashboard"
  },
};
</script>