body {
  overflow-x: hidden;
}

.chapter-bg {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.123), rgba(0, 0, 0, 0.178)), url('../img/bg.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.girl-book-img:hover {
  transform: rotate(-5deg);
  transition: all 250ms;
}

.main-header {
  background: rgba(180, 180, 180, 0.815);
  width: 100%;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chapter-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

.font-robotoslab {
  font-family: 'Roboto Slab', serif;
}

.chapter-text-primary {
  font-size: 4.3rem;
  text-shadow: 0px 2px rgba(32, 32, 32, 0.452);
  font-family: 'Righteous', cursive;
  transition: all 250ms;
}

.chapter-text-primary:hover {
  font-size: 4.5rem;
  cursor: pointer;
}

.chapter-text-secondary {
  margin-top: -23px;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin-left: 270px;
}

.margin-top-medium {
  margin-top: 6rem;
}

.margin-bottom-medium {
  margin-bottom: 8rem;
}

.bibliophile {
  margin-top: 50px;
  margin-left: 50px;
}

.image1 {
  top: -50%;
  right: 35%;
  width: 150px;
  position: absolute;
}

.image2 {
  top: -78%;
  right: 14%;
  width: 170px;
  position: absolute;
}

.image3 {
  top: -38%;
  right: 18%;
  width: 110px;
  position: absolute;
}

.relax-img {
  position: relative;
  left: 15%;
  top: -20%;
  width: 450px;
}

.relax-font {
  font-size: 5rem;
  font-weight: 400;
  z-index: 999;
  position: relative;
  margin-top: -250px;
  left: 30px;
  transition: all 250ms;
  color: rgb(112, 195, 160);
}

.relax-font:hover {
  transform: translateX(15px);
}

.book-img {
  position: relative;
  left: 15%;
  top: 0;
  z-index: 1;
  width: 450px;
}

.plant-doodle-img {
  width: 400px;
  margin-left: 15%;
}

.ellipse {
  position: absolute;
  left: 0;
  top: 10%;
  width: 20%;
  transition: all 250ms;
}

.ellipse:hover {
  transform: scale(1.1);
}

.circle {
  background: rgb(112, 195, 160);
  height: 160px;
  width: 160px;
  top: -30%;
  left: 5%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.amazing {
  font-size: 4.5rem;
}

.facts {
  font-size: 5.2rem;
  margin-top: -2rem;
  position: relative;
  text-align: right;
}

.rectangle {
  background: rgb(112, 195, 160);
  height: 40px;
  width: 100%;
  z-index: -1;
  position: absolute
}

.divider {
  background: rgb(175, 175, 175);
  height: 30px;
  width: 100%;
  z-index: -1;
  bottom: -2%;
  position: absolute;
  left: 0;
}

.reading-time-img {
  transform: scaleX(-1);
  left: 0;
  width: 80%;
  margin-top: -5rem;
  transition: all 250ms;
}

.reading-time-img:hover {
  transform: scaleX(-1) translateX(45px) ;
}

.plant-on-card {
  position: absolute;
  z-index: -1;
  right: -10%;
  top: -15%;
  width: 45%;
}

.card {
  border-radius: 15px !important;
  background: #bebebe80 !important;
  border: 0 !important;
}

.line {
  position: relative;
  bottom: -55px;
  right: 0;
  width: 85%;
  border-bottom: 5px solid rgb(155, 155, 155);
}

.cactus {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.cactus-rectangle {
  background: rgb(112, 195, 160);
  height: 40px;
  width: 10%;
  bottom: -20px;
  transform: rotate(-8deg);
  position: absolute;
}

.bg-rectangle {
  background: rgb(143, 143, 143);
  height: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  bottom: -3rem;
  left: 0;
}

.mobile-img {
  clip-path: polygon(35% 0, 100% 0%, 100% 100%, 35% 100%);
}

p {
  margin-bottom: 0 !important;
}

nav {
  padding: .5rem 9rem !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 2.5rem;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  position: relative;
}

nav ul li a:hover {
  color: rgb(112, 195, 160) !important;
}

nav ul li a:link {
  text-decoration: none;
}


nav ul li a:hover {
  color: rgb(112, 195, 160);
}

nav ul li a:hover::after {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav.sticky {
  background: rgb(111, 189, 150);
  padding: .5rem 9rem !important;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-box-shadow: 0px 2px .4rem #1616164d;
  box-shadow: 0px 2px .4rem #1616164d;
}

nav.sticky ul li a {
  margin-top: .3rem;
  color: rgb(255, 255, 255);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

nav.sticky ul li a:hover {
  color: rgb(8, 109, 25)!important;
}

nav.sticky .logo {
  float: left;
  padding: .5rem;
  margin-top: 1rem;
}

nav.sticky .logo a {
  color: rgb(255, 255, 255);
}

.logo {
  float: left;
  padding: .5rem;
  margin-top: 1.5rem;
}

.logo a {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0px;
  text-decoration: none;
}

.logo a:hover {
  color: rgb(8, 109, 25)!important;
  text-decoration: none;
}

@media (max-width: 800px) {
  nav {
    padding: .5rem 4rem !important;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  nav.sticky {
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    background: rgb(111, 189, 150);
    -webkit-box-shadow: 0px 2px .4rem #1616164d;
    box-shadow: 0px 2px .4rem #1616164d;
    padding: .5rem 4rem !important;
  }

  nav.sticky .nav-btn i {
    display: block;
    width: 1.2rem;
    height: 2px;
    background: rgb(250, 250, 250)238, 231, 231);
    border-radius: 2px;
    margin-left: 25%;
  }

  nav.sticky .nav-wrapper {
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: -200;
    background: rgb(111, 189, 150);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  nav.sticky .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  nav.sticky .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }

  nav.sticky .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  nav.sticky .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  nav.sticky .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  nav.sticky .nav-wrapper ul li a {
    padding: 10px 20px;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.1px;
    -webkit-transform: translateX(-1.3rem);
    transform: translateX(-1.3rem);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 5%;
  }

  nav.sticky .nav-btn {
    right: .6rem;
    top: 1.2rem;
  }

  nav.sticky #nav:checked~.nav-wrapper {
    z-index: 200;
    opacity: 1;
    position: fixed;
  }

  .logo {
    padding: 0;
    margin-top: 2rem;
  }

  .nav-wrapper {
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
    background:rgb(111, 189, 150);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }

  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 20px;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    -webkit-transform: translateX(-1.3rem);
    transform: translateX(-1.3rem);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 5%;
  }

  .nav-btn {
    position: fixed;
    right: .6rem;
    top: 1.5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    margin-right: 5%;
  }

  .nav-btn i {
    display: block;
    width: 1.2rem;
    height: 2px;
    background: white;
    border-radius: 2px;
    margin-left: 25%;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 1rem;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked+.nav-btn {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
  transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
  z-index: 200;
  opacity: 1;
  position: fixed;
}

#nav:checked~.nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hidden {
  display: none;
}

@media (max-width: 992px) {
  .plant-doodle-img {
    width: 300px;
    margin: 0 auto;
  }

  .ellipse {
    top: 7%;
    width: 30%;
  }

  .relax-font {
    margin-top: -195px;
    left: 0px;
    margin-right: 3%;
  }

  .mobile-img {
    margin-left: -5%;
  }

  .chapter-text-secondary {
    margin-left: 0;
  }

  .book-img {
    margin-top: 0rem;
  }

  .image1 {
    top: -50%;
    right: 10%;
    width: 120px;
    position: absolute;
  }


  .image2 {
    top: -90%;
    right: -40%;
    width: 170px;
    position: absolute;
  }

  .image3 {
    top: -50%;
    right: -27%;
    width: 100px;
    position: absolute;
  }

  .reading-time-img {
    margin: 0 auto;
  }

  .cactus-rectangle {
    width: 15%;
  }
}

@media (max-width: 840px) {
  .image1 {
    top: -45%;
    right: 42%;
    width: 80px;
    position: absolute;
  }

  .image2 {
    top: -90%;
    right: 0;
    width: 140px;
    position: absolute;
  }

  .image3 {
    top: -56%;
    right: 10%;
    width: 80px;
    position: absolute;
  }

  .book-img {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .relax-font {
    margin-top: -145px;

  }

  .book-img {
    margin-top: 0;
  }

  .image1 {
    top: -25%;
    right: 4%;
    width: 80px;
    position: absolute;
  }

  .image2 {
    top: -60%;
    right: -38%;
    width: 140px;
    position: absolute;
  }

  .image3 {
    top: -25%;
    right: -28%;
    width: 80px;
    position: absolute;
  }

  .plant-doodle-img {
    width: 400px;
    margin-left: 15%;
  }

}