<template>
  <div id="app">
    <div class="sidebar">

      <router-link to="/" >
      <a href="index.html">
        <div class="sidebar-container">
          <div class="choices">
            <div class="choice pt-2" :class="$route.name == 'Dashboard' ? 'selected' : ''" >
              <img
                src="@/assets/images/Fig Dash.png"
                height="40"
                class="ml-4 position-absolute"
              />
              <a href="index.html" class="text_choice">Dashboard</a>
            </div>
          </div>
        </div>
      </a>
      </router-link>
      
      <router-link
      to="/patron" >
        <div class="choices">
          <div class="choice" :class="$route.name == 'Patron Management' ? 'selected' : ''" >
            <img
              src="@/assets/images/Fig Pat.png"
              height="40"
              class="ml-4 mt-2 position-absolute"
            />
            <a href="patron.html" class="text_choice"
              >Patron
              <span class="ml-span m-0">
                <br />
                Management</span
              ></a
            >
          </div>
        </div>
      </router-link>

      <router-link to="/books" >
        <div class="choices">
          <div class="choice" :class="$route.name == 'Books Management' ? 'selected' : ''" >
            <img
              src="@/assets/images/Fig Book.png"
              height="40"
              class="ml-4 mt-2 position-absolute"
            />
            <a href="books.html" class="text_choice"
              >Book
              <span class="ml-span m-0">
                <br />
                Management</span
              ></a
            >
          </div>
        </div>
      </router-link>

     <router-link to="/settings" >
        <div class="choices">
          <div class="choice pt-2" :class="$route.name == 'Settings' ? 'selected' : ''">
            <img
              src="@/assets/images/Fig Set.png"
              height="40"
              class="ml-4 position-absolute"
            />
            <a href="settings.html" class="text_choice">Settings</a>
          </div>
        </div>
      </router-link>

    </div>
  </div>
</template>

<script>
export default {
  props: ['isActive']
}
</script>