<template>
  <div id="app">
    <div class="topnav">
      <div class="row">
        <img src="../../assets/images/Fig Library.png" class="logo" />
        <p class="title">Library System</p>
      </div>
      <div class="logout-container">
        <button class="btn btn-logout">Logout</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>